@import "../utils/scss/variables.scss";
@import "../utils/scss/px-to-rem.scss";

// Button
// #############################################################################

@mixin button-base() {
    font-size: $font-size-text-medium;
    line-height: rem(18);
    font-weight: $font-weight-bold;
    padding: rem(12) rem(22);
    display: block;
    background-color: $color-background;
    border: 3px solid $color-brand;
    box-shadow: $box-shadow-z1;
    border-radius: 6px;
    text-decoration: none;
    width: 100%;
    text-align: center;
    cursor: pointer;

    @media ($md) {
        font-size: $font-size-text;
        line-height: rem(21);
        margin: 0 auto;
        max-width: rem(240);
        padding: rem(20) rem(40);
    }
}

// Input
// #############################################################################

@mixin input-field() {
    border-radius: 4px;
    border: 2px solid $color-border;
    padding: rem(18) rem(24);
    width: 100%;
    background-color: $color-white;
    outline-offset: 0;

    &:focus {
        border-color: $color-brand;
    }

    &.ng-invalid.ng-touched {
        border-color: $color-error;
    }
}
